<h2><%= @user.username %>'s Dashboard</h2>
<br>

<% @user.received_nudges.each do |nudge| %>
    <div class="alert alert-error">
        <button type="button" class="close" data-id="<%= nudge.id %>" data-dismiss="alert">&times;</button>
      You have been nudged by <%= nudge.user.username %>
      <button type="button" class="pay-friend-btn btn btn-success" id="<%= nudge.user_id %>" data-id="<%=nudge.id %>" data-list-shown="false">Pay Up</button>
    </div>
<% end %>
<div id="friend-debt">
</div>

<% if @user.settled_up? %>
<span class="label label-success">Congrats!</span><strong> You are all settled up.</strong>
<% end %>
<br>
You owe: $<%= @user.money_owed_to_friends %>
<br>
You are owed: $<%= @user.money_owed_by_friends %>
<br>
<br>
<a href="#" class="user-profile" id="<%= @user.id %>" data-list-shown="false">Your Account Info</a>

<h4>Your Friends:</h4>
<ul class='friend-list'>
    <% @friends.each do |friend| %>
        <li>
            <%= link_to "#{friend.username}", friend_url(friend) %>
        </li>
    <% end %>

    <% @inverse_friends.each do |friend| %>
        <li>
            <%= link_to "#{friend.username}", friend_url(friend) %>
        </li>
    <% end %>
</ul>

<%= render :partial => "add_friend" %>
<br>
<br>

<!-- Templates -->

<script type="text/html" id="payFriend">
  
  <form class="payment-form" action="<%= debts_url %>" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <br>
      <input type="text" id="description" name="debt[memo]" placeholder="Reason for Payment">
      <br>
      <input type="number" id="amount" name="debt[amount]" placeholder="Amount">
      <br>
      <input type="submit" class="btn btn-danger submit-payment" value="Submit Payment">
  </form>

</script>

<!-- Javascript -->

<script type="text/javascript">
$(document).ready(function() {
   // $(".add-friend").click(function(event) {
   //     event.preventDefault();
   //     console.log("trying to add friend.");
   // });
   
   $(".user-profile").click(function(event) {
      event.preventDefault();
      
      $.ajax({
        url: "/users/" + event.target.id + ".json",
        type: "get",
        success: function (userInfo) {
          var result = userInfo;
          
          if ($(event.target).attr("data-list-shown") === "false") {
            show(event, result);
          } else {
            hide(event, result);
          }
        }
      });

   });
   
   $(".close").click(function(event) {
      var nudgeId = $(event.target).attr("data-id");
      
      $.ajax({
         url: "/nudges/" + nudgeId,
         type: "delete",
         success: function() {
             console.log("nudge deleted");
         } 
      });
   });
   
   $(".pay-friend-btn").click(function(event) {
       event.preventDefault();   
       
       $(this).text(function(i, text){
           return text === "Pay Up" ? "Cancel Payment" : "Pay Up";
       })     
       
       if ($(event.target).attr("data-list-shown") === "false") {
         $(event.target).attr("data-list-shown", "true");
         payFriend($(event.target).attr("data-id"), $(event.target).attr("id"));
         
       } else {
           $(event.target).attr("data-list-shown", "false");
           var formId = $(event.target).attr("data-id")
           $("." + formId).empty();
       }
       
       $(".submit-payment").click(function(event) {
          event.preventDefault();
          var amount = $("#amount").val();
          var description = $("#description").val();
          var invalidInput = false;

          var debtor = parseInt(($(event.target).parent().parent()).attr("id"));
          
          if (description == "") {
              alert("Please enter a description.");
              invalidInput = true;
              event.preventDefault();
          } else if (amount == "" || parseInt(amount < 0)) {
              alert("Invalid number input.");
              invalidInput = true;
              event.preventDefault();
          }
          
          if (invalidInput == true) {
              return;
          }
          
          var payment = $.post( "/debts.json", {debt: {debtor_id: debtor, amount: amount, memo: description} });

          payment.done(function( data ) {
                var $div = $("<div>", {
                class: "alert alert-success",
                text: "Payment submitted."
            });
                        
            var $closeButton = $("<button>", {
                type: "button",
                class: "close",
                text: "x",
                "data-dismiss": "alert"
            });
            
            $div.append($closeButton);
            $('#friend-debt').append($div);
            
            $(".payment-form").empty();
  $(".pay-friend-btn").remove();          
//            $(".pay-friend-btn").attr("data-list-shown", "false");
//            $(".pay-friend-btn").html("Pay Friend"); 
          });
                     
       });
              
   });
   
   var payFriend = function(id, friendId) {
       var templateFunction = _.template($("#payFriend").html());
       var renderedContent = templateFunction();
       var $nudgeIdDiv = $("<div>").attr("class", id);
       $nudgeIdDiv.attr("id", friendId);
       $nudgeIdDiv.append(renderedContent);
       $("#friend-debt").after($nudgeIdDiv);
   };
   
   var show = function(event, userInfo) {
       var $profile = $("<div>");
       $profile.append("<br>" + userInfo.email + "<br>" + "Member since: " + userInfo.created_at + "<br>");
  
       $(event.target).attr("data-list-shown", "true");
       $(".user-profile").after($profile);
      };

   var hide = function(event, UserInfo) {
     $(event.target).parent().find("div").remove();
     $(event.target).attr("data-list-shown", "false");
   };   
   
});
</script>