<h2><%= @user.username %>'s Dashboard</h2>
<br>

<% @user.received_nudges.each do |nudge| %>
    <div class="alert alert-error">
        <button type="button" class="close" data-id="<%= nudge.id %>" data-dismiss="alert">&times;</button>
      You have been nudged by <%= nudge.user.username %>
      <button type="button" class="pay-friend btn btn-success" data-list-shown="false">Pay Up</button>
    </div>
<% end %>
<div id="friend-debt">
</div>

<% if @user.settled_up? %>
<span class="label label-success">Congrats!</span><strong> You are all settled up.</strong>
<% end %>
<br>
You owe: $<%= @user.money_owed_to_friends %>
<br>
You are owed: $<%= @user.money_owed_by_friends %>
<br>
<br>
<a href="#" class="user-profile" id="<%= @user.id %>" data-list-shown="false">Your Account Info</a>

<h4>Your Friends:</h4>
<ul class='friend-list'>
    <% @friends.each do |friend| %>
        <li>
            <%= link_to "#{friend.username}", friend_url(friend) %>
        </li>
    <% end %>

    <% @inverse_friends.each do |friend| %>
        <li>
            <%= link_to "#{friend.username}", friend_url(friend) %>
        </li>
    <% end %>
</ul>

<%= render :partial => "add_friend" %>
<br>
<br>

<!-- Templates -->

<script type="text/html" id="payFriend">
  <div class='pay-friend'>
  
  <form class="payment-form" action="<%= debts_url %>" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <br>
      <input type="text" id="description" name="debt[memo]" placeholder="Reason for Payment">
      <br>
      <input type="number" id="amount" name="debt[amount]" placeholder="Amount">
      <br>
      <input type="submit" class="btn btn-danger" value="Submit Payment">
  </form>
  </div>
</script>

<!-- Javascript -->

<script type="text/javascript">
$(document).ready(function() {
   // $(".add-friend").click(function(event) {
   //     event.preventDefault();
   //     console.log("trying to add friend.");
   // });
   
   $(".user-profile").click(function(event) {
      event.preventDefault();
      
      $.ajax({
        url: "/users/" + event.target.id + ".json",
        type: "get",
        success: function (userInfo) {
          var result = userInfo;
          
          if ($(event.target).attr("data-list-shown") === "false") {
            show(event, result);
          } else {
            hide(event, result);
          }
        }
      });

   });
   
   $(".close").click(function(event) {
      var nudgeId = $(event.target).attr("data-id");
      
      $.ajax({
         url: "/nudges/" + nudgeId,
         type: "delete",
         success: function() {
             console.log("nudge deleted");
         } 
      });
   });
   
   $(".pay-friend").click(function(event) {
       event.preventDefault();   
       
       $(this).text(function(i, text){
           return text === "Pay Up" ? "Cancel Payment" : "Pay Up";
       })     
       
       if ($(event.target).attr("data-list-shown") === "false") {
         $(event.target).attr("data-list-shown", "true");
         payFriend();
         
       } else {
           $(event.target).attr("data-list-shown", "false");
           $(".payment-form").empty();
       }
   });
   
   var payFriend = function() {

       var templateFunction = _.template($("#payFriend").html());
       var renderedContent = templateFunction();
       $("#friend-debt").after(renderedContent);
       
       $(".payment-form").submit(function(event) {        
           if ($("#description").val() == "") {
               alert("Please enter a description.");
               event.preventDefault();
           } else if ($("#amount").val() == "") {
               alert("Please enter amount.");
               event.preventDefault();
           }
       });   
   };
   
   var show = function(event, userInfo) {
       var $profile = $("<div>");
       $profile.append("<br>" + userInfo.email + "<br>" + "Member since: " + userInfo.created_at + "<br>");
  
       $(event.target).attr("data-list-shown", "true");
       $(".user-profile").after($profile);
      };

   var hide = function(event, UserInfo) {
     $(event.target).parent().find("div").remove();
     $(event.target).attr("data-list-shown", "false");
   };   
   
});
</script>