<h2><%= @user.username %>'s Dashboard</h2>
<br>
<strong><%= "You are all settled up!" if @user.settled_up? %></strong>
<br>
You owe: $<%= @user.money_owed_to_friends %>
<br>
You are owed: $<%= @user.money_owed_by_friends %>
<br>
<br>
<strong><%= link_to "Add a Bill", new_bill_url %></strong>
<br>
<br>
<strong><%= link_to "Make a Payment", new_debt_url %></strong>
<br>
<br>
<%= link_to "All Expenses", bills_url %>
<br>
<br>
<a href="#" class="user-profile" id="<%= @user.id %>" data-list-shown="false">Your Account Info</a>

<h4>Your Friends:</h4>
<ul class='friend-list'>
    <% @friends.each do |friend| %>
        <li>
            <%= link_to "#{friend.username}", friend_url(friend) %>
        </li>
    <% end %>

    <% @inverse_friends.each do |friend| %>
        <li>
            <%= link_to "#{friend.username}", friend_url(friend) %>
        </li>
    <% end %>
</ul>

<%= render :partial => "add_friend" %>
<br>
<br>

<script type="text/javascript">
$(document).ready(function() {
   // $(".add-friend").click(function(event) {
   //     event.preventDefault();
   //     console.log("trying to add friend.");
   // });
   
   $(".user-profile").click(function(event) {
      event.preventDefault();
      
      $.ajax({
        url: "/users/" + event.target.id + ".json",
        type: "get",
        success: function (userInfo) {
          var result = userInfo;
          
          if ($(event.target).attr("data-list-shown") === "false") {
            show(event, result);
          } else {
            hide(event, result);
          }
        }
      });

   });
   
   var show = function(event, userInfo) {
       var $profile = $("<div>");
       $profile.append("<br>" + userInfo.email + "<br>" + "Member since: " + userInfo.created_at + "<br>");
  
       $(event.target).attr("data-list-shown", "true");
       $(".user-profile").after($profile);
      };

   var hide = function(event, UserInfo) {
     $(event.target).parent().find("div").remove();
     $(event.target).attr("data-list-shown", "false");
   };   
   
});
</script>