<h2>Make a Payment</h2>

<form class="bill-form" action="<%= debts_url %>" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    
    <select name="debt[debtor_id]">
        <option value="">Choose Friend You Want to Pay: </option>
        <% @user.friends.each do |friend| %>   
          <option value="<%= friend.id %>"><%= friend.username %></option>
        <% end %>
        
        <% @user.inverse_friends.each do |inverse_friend| %>   
          <option value="<%= inverse_friend.id %>"><%= inverse_friend.username %></option>
        <% end %>
    </select>
    <br>
    <input type="text" id="description" name="debt[memo]" value="<%= @debt.memo %>" placeholder="Reason for Payment">
    <br>
    <input type="number" id="amount" name="debt[amount]" value="<%= @debt.amount %>" placeholder="Amount">
    <br>
    <input type="submit" value="Submit Payment">
</form>

<br>
<%= link_to "Back to Dashboard (do not make a new payment)", root_url %>
<br>
<br>

<script type="text/javascript">
    $(document).ready(function() {
       
        $(".bill-form").submit(function(event) {
            if ($("select option:selected").val() == "") {
                alert("Please select a friend to pay.");
                event.preventDefault();
            }
            
            if ($("#description").val() == "") {
                alert("Please enter a description.");
                event.preventDefault();
            }
            
            if ($("#amount").val() == "") {
                alert("Please enter amount.");
                event.preventDefault();
            }
        });
    });

</script>