<h2>Payment Page</h2>

<form class="bill-form" action="<%= debts_url %>" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    
    <select name="debt[][debtor_id]">
        <option value="">Friend You Want to Pay</option>
        <% @user.friends.each do |friend| %>   
          <option value="<%= friend.id %>"><%= friend.username %></option>
        <% end %>
        
        <% @user.inverse_friends.each do |inverse_friend| %>   
          <option value="<%= inverse_friend.id %>"><%= inverse_friend.username %></option>
        <% end %>
    </select>
    <br>
    <input type="text" class="description" name="debt[][memo]" value="<%= @debt.memo %>" placeholder="Reason for Payment">
    <br>
    <input type="number" class="amount" name="debt[][amount]" value="<%= @debt.amount %>" placeholder="Amount">
    <br>
    <br>
    <button class="add-payment btn btn-primary">Add Payment</button>
    <br>
    <br>
    <input type="submit" class="btn btn-danger" value="Submit">
</form>

<% if @user.money_owed_to_friends > 0 %>
<h6><a href="#" class="question" data-list-shown="false">What do I owe?</a></h6>
<% else %>
You have no outstanding debts, but you are free to make payments!
<% end %>

<div class="debt-list" style="display:none">

    <% @user.friends.each do |friend| %>
        <% if @user.calculate_debt_to(friend) > 0 %>
            <%= "You owe #{friend.username}: $#{@user.calculate_debt_to(friend)}" %>
            <br>
        <% end %>
    <% end %>
    
    <% @user.inverse_friends.each do |friend| %>
        <% if @user.calculate_debt_to(friend) > 0 %>
            <%= "You owe #{friend.username}: $#{@user.calculate_debt_to(friend)}" %>
            <br>
        <% end %>    
    <% end %>
   
</div>

<br>
<%= link_to "Back to Dashboard (do not make a new payment)", root_url %>
<br>
<br>

<!-- Templates NOTE: DO I WANT TO BE ABLE TO MAKE MORE THAN ONE PAYMENT AT ONCE? -->

<script type="text/html" id="payFriend">

<div>
    <select name="debt[][debtor_id]">
        <option value="">Choose Friend You Want to Pay: </option>
        <% @user.friends.each do |friend| %>   
          <option value="<%= friend.id %>"><%= friend.username %></option>
        <% end %>
        
        <% @user.inverse_friends.each do |inverse_friend| %>   
          <option value="<%= inverse_friend.id %>"><%= inverse_friend.username %></option>
        <% end %>
    </select>
    <br>
    <input type="text" class="description" name="debt[][memo]" value="<%= @debt.memo %>" placeholder="Reason for Payment">
    <br>
    <input type="number" class="amount" name="debt[][amount]" value="<%= @debt.amount %>" placeholder="Amount">
    <button class="remove-payment btn btn-warning">Cancel this Payment</button>
    </div>
</script>

<!-- JavaScript -->

<script type="text/javascript">
    $(document).ready(function() {
        
        $(".question").click(function(event) {
            event.preventDefault();
           if ($(event.target).attr("data-list-shown") === "false") {  
             $('.debt-list').show();
             $(event.target).attr("data-list-shown", "true");
           } else {
               $(".debt-list").hide();
               $(event.target).attr("data-list-shown", "false");
           }
        });
        
        $(".add-payment").click(function(event) {
          event.preventDefault();
          
          var templateFunction = _.template($("#payFriend").html());
          var renderedContent = templateFunction();
          $(".add-payment").before(renderedContent);
          
          $(".remove-payment").click(function(event) {
              event.preventDefault();
              $(event.target).parent().empty(); 
          });
        });
       
        $(".bill-form").submit(function(event) {
            if ($("select option:selected").val() == "") {                
                alert("Please select a friend to pay.");
                event.preventDefault();
            } else if ($("#description").val() == "") {
                alert("Please enter a reason for payment.");
                event.preventDefault();
            } else if ($("#amount").val() == "") {
                alert("Please enter amount.");
                event.preventDefault();
            }
        });
    });

</script>