<script id="listItems">
  <%= @history.to_json.html_safe %>
</script>

<div id='friend-debt'>
<h2>Your expenses with <%= @friend.username %></h2>
<h3><%= @debt_to_friend > 0 ? "You owe #{@friend.username}: $" : "#{@friend.username} owes you: $" %>
    <%= @debt_to_friend.abs %>

    <% if @debt_to_friend > 0 %>
      <button class="pay-friend" type="button" data-list-shown="false">Pay Friend</button>
    <% end %>
    
    <% if @debt_to_friend < 0 %>
    <button class="nudge-friend" type="button" data-list-shown="false">Nudge <%= @friend.username %></button>
    <% end %>
</h3>
</div>

<ul id="expenses">
<% @history.each do |h| %>
<li>
    <strong><%= h.created_at.strftime("%b %d %Y") %></strong>:
    
    <%= h.creditor.username %> 
    <%= h.is_a_payment == true ? "made a payment of $" : "lent $" %> 
    <%= h.amount %>
    to
    <%= h.debtor.username %>
    
    <% if h.is_a_payment == true %>
        <a href="#" id="<%= h.id %>" class="payment" data-list-shown="false">Payment id: <%= h.id %></a>
    <% else %>
        <a href="#" id="<%= h.bill_id %>" class="bill" data-list-shown="false">Bill id: <%= h.bill_id %></a>
    <% end %>
</li>
<% end %>
</ul>

<br>
<%= link_to "Back to Dashboard", root_url %>
<br>
<br>

<!-- Templates -->

<script type="text/html" id="payFriend">
  <div class='pay-friend'>
  
  <form class="payment-form" action="<%= debts_url %>" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      
      Payment to: <%= @friend.username %>
      <input type="hidden" name="debt[debtor_id]" value="<%= @friend.id %>">
      <br>
      <input type="text" id="description" name="debt[memo]" placeholder="Reason for Payment">
      <br>
      <input type="number" id="amount" name="debt[amount]" placeholder="Amount">
      <br>
      <input type="submit" value="Submit Payment">
  </form>
  </div>
</script>

<!-- JavaScript -->

<script type="text/javascript">

$(document).ready(function() {

    HISTORY = JSON.parse($("#listItems").html());
    
    $(".payment").click(function(event) {
        event.preventDefault();
        var payment_id = $(event.target).attr("id");

        for(var i = 0; i < HISTORY.length; i++) {
            if(HISTORY[i].id == payment_id) {
                var result = HISTORY[i];
                break;
            }
        }

        if ($(event.target).attr("data-list-shown") === "false") {
          show(event, result);
        } else {
          hide(event, result);
        }
    });
    
    $(".pay-friend").click(function(event) {
        event.preventDefault();   
        
        $(this).text(function(i, text){
            return text === "Pay Friend" ? "Cancel Payment" : "Pay Friend";
        })     
        
        if ($(event.target).attr("data-list-shown") === "false") {
          $(event.target).attr("data-list-shown", "true");
          payFriend();
          
        } else {
            $(event.target).attr("data-list-shown", "false");
            $(".payment-form").empty();
        }
    });
    
    $(".nudge-friend").click(function(event) {
       event.preventDefault();
       console.log("NUDGE!"); 
    });
    
    var payFriend = function() {

        var templateFunction = _.template($("#payFriend").html());
        var renderedContent = templateFunction();
        $("#friend-debt").after(renderedContent);
        
        $(".payment-form").submit(function(event) {        
            if ($("#description").val() == "") {
                alert("Please enter a description.");
                event.preventDefault();
            } else if ($("#amount").val() == "") {
                alert("Please enter amount.");
                event.preventDefault();
            }
        });   
    };
    
    $(".bill").click(function(event) {
        event.preventDefault();
        
        $.ajax({
          url: "/bills/" + event.target.id + ".json",
          type: "get",
          success: function (billData) {
            var result = billData;
            
            if ($(event.target).attr("data-list-shown") === "false") {
              showBill(event, result);
            } else {
              hide(event, result);
            }
          }
        });
    });
        
    var showBill = function(event, result) {

        var guestInfo = "";
        result.guests.forEach(function(guest){
          guestInfo += guest.username + " paid $" + guest.amount_paid + ", should have paid $" + guest.amount_should_have_paid + "<br>"
        });
      
    var $link = $('<a>',{
        text: 'Edit Bill',
        href: '/bills/' + result.id + '/edit'});
        
      var $div = $("<div></div>");
      $div.attr("id", "details-"+ result.id)
      var billDetails = "<br>Bill Details<br>Description: " + result.description + "<br>Total Amount: $" + result.total_amount + "<br><br>";
      $div.append(billDetails);
      $div.append(guestInfo);
      $div.append($link);
      $div.append("<br><br>");
                
      $(event.target).after($div);
      $(event.target).attr("data-list-shown", "true");
      $(event.target).parent().append($div);
    };
    
    var show = function(event, result) {
      var index = $(event.target).attr("id")
        
      var renderedContent = "<br>Payment Note: " + result.memo + "<br>" + "Amount: $" + result.amount + "<br><br>";
      
      var $div = $("<div></div>")
      $div.attr("id", "details-"+ result.id)
      $div.append(renderedContent);

      $(event.target).attr("data-list-shown", "true");
      $(event.target).parent().append($div);
    };

    var hide = function(event, list) {
      $(event.target).parent().find("div").remove();
      $(event.target).attr("data-list-shown", "false");
    };
});
</script>