<script id="listItems">
  <%= @history.to_json.html_safe %>
</script>

<h2><%= @user.username %>'s Expense History</h2>
<h4>You owe: $<%= @user.money_owed_to_friends %>
    <br>
    You are owed: $<%= @user.money_owed_by_friends %>
</h4>

<h5><a href="#chronological">See Chronological Expense History</a>
<br>
<%= link_to "Back to Dashboard", "/" %></h5>

<h4>Bills:</h4>
You have <%= @user.bills.length %> bills.
<ul>
<% @debts.each do |debt| %>
    <% next if debt.bill_id == nil %>
    <li>
    <strong><%= debt.created_at.strftime("%b %d %Y") %></strong>:
    <%= debt.creditor.username %> lent you $<%= debt.amount %>.
    
    <a href="#" id="<%= debt.bill_id %>" class="bill" data-list-shown="false">Bill id: <%= debt.bill_id %></a>
</li>

<% end %>
</ul>
<h4>Money You Have Lent:</h4>
You have lent money <%= @user.invoices.length %> times.
<ul>
<% @user.invoices.uniq.each do |invoice| %>

    <% invoice.debts.each do |debt| %>
    <li>
    <strong><%= debt.created_at.strftime("%b %d %Y") %></strong>:
    You lent <%= debt.debtor.username %> $<%= debt.amount %>. 
    <a href="#" id="<%= debt.bill_id %>" class="bill" data-list-shown="false">Bill id: <%= debt.bill_id %></a>
    </li>
    <% end %>

<% end %>
</ul>

<h4>Payments Sent:</h4>
You have sent <%= @user.payments_sent.length %> payments.
<ul>
    <% @user.payments_sent.each do |payment| %>
    <li>
        <strong><%= payment.created_at.strftime("%b %d %Y") %></strong>:
        You sent <%= payment.debtor.username %> a payment of $<%= payment.amount %>.
        <a href="#" id="<%= payment.id %>" class="payment" data-list-shown="false">Payment id: <%= payment.id %></a>
    </li>
    <% end %>
</ul>

<h4>Payments Received:</h4>

You have received <%= @user.payments_received.length %> payments.
<ul>
    <% @user.payments_received.each do |payment| %>
    <li>
        <strong><%= payment.created_at.strftime("%b %d %Y") %></strong>:
        <%= payment.creditor.username %> sent you a payment of $<%= payment.amount %>.
        <a href="#" id="<%= payment.id %>" class="payment" data-list-shown="false">Payment id: <%= payment.id %></a>
    </li>
    <% end %>
</ul>

<br>
<br>

<div id="chronological">
<h3>Chronological History</h3>
<% @history.each do |h| %>
<li>
    <strong><%= h.created_at.strftime("%b %d") %></strong>:
    <%= h.creditor.username %> 
    <%= h.is_a_payment == true ? "made a payment of $" : "lent $" %> 
    <%= h.amount %>
    to
    <%= h.debtor.username %>
    
    <% if h.is_a_payment == true %>
        <a href="#" id="<%= h.id %>" class="payment" data-list-shown="false">Payment id: <%= h.id %></a>
    <% else %>
        <a href="#" id="<%= h.bill_id %>" class="bill" data-list-shown="false">Bill id: <%= h.bill_id %></a>
    <% end %>

</li>
<% end %>
</ul>
</div>
<%= link_to "Back to Dashboard", root_url %>
<br>
<br>

<script type="text/javascript">

$(document).ready(function() {

    HISTORY = JSON.parse($("#listItems").html());
    
    $(".payment").click(function(event) {
        event.preventDefault();
        var payment_id = $(event.target).attr("id");

        for(var i = 0; i < HISTORY.length; i++) {
            if(HISTORY[i].id == payment_id) {
                var result = HISTORY[i];
                break;
            }
        }

        if ($(event.target).attr("data-list-shown") === "false") {
          show(event, result);
        } else {
          hide(event, result);
        }
    });
    
    $(".bill").click(function(event) {
        event.preventDefault();
        
        $.ajax({
          url: "/bills/" + event.target.id + ".json",
          type: "get",
          success: function (billData) {
            var result = billData;
            
            if ($(event.target).attr("data-list-shown") === "false") {
              showBill(event, result);
            } else {
              hide(event, result);
            }
          }
        });
    });
    
    var show = function(event, result) {
      var index = $(event.target).attr("id")
        
      var renderedContent = "<br>Payment Note: " + result.memo + "<br>" + "Amount: $" + result.amount + "<br><br>";
      
      var $div = $("<div></div>")
      $div.attr("id", "details-"+ result.id)
      $div.append(renderedContent);

      $(event.target).attr("data-list-shown", "true");
      $(event.target).parent().append($div);
    };

    var hide = function(event, list) {
      $(event.target).parent().find("div").remove();
      $(event.target).attr("data-list-shown", "false");
    };
    
    var showBill = function(event, result) {
        //try to include more bill information

        var guestInfo = "";
        result.guests.forEach(function(guest){
                       guestInfo += guest.username + " paid $" + guest.amount_paid + ", should have paid $" + guest.amount_should_have_paid + "<br>"
        });
         
      var $div = $("<div></div>");
      $div.attr("id", "details-"+ result.id)
      var billDetails = "<br>Bill Details<br>Description: " + result.description + "<br>Total Amount: $" + result.total_amount + "<br><br>";
      $div.append(billDetails);
      $div.append(guestInfo + "<br>");
                
      $(event.target).after($div);
      $(event.target).attr("data-list-shown", "true");
      $(event.target).parent().append($div);
    };
    
});
</script>