<h2>Add A Bill</h2>

<form class="bill-form" action="<%= bills_url %>" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

    <input type="text" name="bill[description]" value="<%= @bill.description %>" placeholder="Bill Description">
    <br>
    <input type="number" name="bill[total_amount]" value="<%= @bill.total_amount %>" placeholder="Total Amount">
    <br>
    <br>
    <select name="bill[guests][][user_id]">
        <option value="<%= @user.id %>">You</option>
        <% @user.friends.each do |friend| %>   
          <option value="<%= friend.id %>"><%= friend.username %></option>
        <% end %>
        
        <% @user.inverse_friends.each do |inverse_friend| %>   
          <option value="<%= inverse_friend.id %>"><%= inverse_friend.username %></option>
        <% end %>
    </select>
    <br>
    
    <input type="number" name="bill[guests][][amount_paid]" placeholder="Amount Paid">
    <input type="number" name="bill[guests][][amount_should_have_paid]" placeholder="Should Have Paid">
    <br>
    <br>
    <select name="bill[guests][][user_id]">
        <option value="">Friend Involved in Bill: </option>
        <% @user.friends.each do |friend| %>   
          <option value="<%= friend.id %>"><%= friend.username %></option>
        <% end %>
        
        <% @user.inverse_friends.each do |inverse_friend| %>   
          <option value="<%= inverse_friend.id %>"><%= inverse_friend.username %></option>
        <% end %>
    </select>
    <br>
    
    <input type="number" name="bill[guests][][amount_paid]" placeholder="Amount Paid">
    <input type="number" name="bill[guests][][amount_should_have_paid]" placeholder="Should Have Paid">

    <br>
    <br>
    <button type="submit" class="add-friend">Add Another Friend to Bill</button>
    <br>
    <br>
    <input type="submit" value="Add Bill">
</form>

<br>
<%= link_to "Back to Dashboard (do not add a new bill)", root_url %>
<br>
<br>

<!-- Templates -->

<script type="text/text" id="listShow">
  <div class='friend-form'>
  <select name="bill[guests][][user_id]">
      <option value="">Friend Involved in Bill: </option>
      <% @user.friends.each do |friend| %>   
        <option value="<%= friend.id %>"><%= friend.username %></option>
      <% end %>
      
      <% @user.inverse_friends.each do |inverse_friend| %>   
        <option value="<%= inverse_friend.id %>"><%= inverse_friend.username %></option>
      <% end %>
  </select>
  <br>
  <input type="number" name="bill[guests][][amount_paid]" placeholder="Amount Paid">
  <input type="number" name="bill[guests][][amount_should_have_paid]" placeholder="Should Have Paid">
  <br>
  <br>
  </div>

</script>

<!-- JavaScript -->

<script type="text/javascript">
    $(document).ready(function() {
       $(".add-friend").click(function(event) {
          event.preventDefault();
          addFriend();
       });
    });

    var addFriend = function() {
        var templateFunction = _.template($("#listShow").html());
        var renderedContent = templateFunction();
        $(".add-friend").before(renderedContent);
    };
</script>