<h2>Bill Show Page</h2>
<strong>Total Amount: $<%= @bill.total_amount %></strong>
<br>
Description: <%= @bill.description %>
<br>
Bill ID: <%= @bill.id %>
<br>
Created at: <%= @bill.created_at %>, by <%= link_to "#{@bill.user.username}", user_url(@bill.user) %>
<br>
Updated at: <%= @bill.updated_at %>
<br>
<ul>
<% @bill.debts.each do |debt| %>
    <li>
        <%= debt.debtor.username %> owes <%= debt.creditor.username %> $<%= debt.amount %>.
    </li>
<% end %>
</ul>

<br>
<%= link_to "Back to Your Bill Index", bills_url %>
<br>
<br>