<h2>Bill Page</h2>
<strong>Total Amount: $<%= @bill.total_amount %></strong>
<br>
Description: <%= @bill.description %>
<br>
Bill id: <%= @bill.id %>
<br>
Created at: <%= @bill.created_at %>, by <%= link_to "#{@bill.user.username}", user_url(@bill.user) %>
<br>
Updated at: <%= @bill.updated_at %>
<br>
<br>
<strong>Details:</strong>
<ul>
    <% @bill.guests.each do |guest| %>
        <li>
            <%= guest.user.username %> paid $<%= guest.amount_paid %>. 
            <%= guest.user.username %> should have paid $<%= guest.amount_should_have_paid %>.
            <br>
        </li>
    <% end %>
</ul>
<strong>Debt Summary:</strong>
<ul>
    <% @bill.debts.each do |debt| %>
        <li>
            <%= debt.debtor.username %> <span class="badge badge-warning">owes</span> <%= debt.creditor.username %> $<%= debt.amount %>.
        </li>
    <% end %>
</ul>

<%= link_to "Edit this Bill", edit_bill_url(@bill) %>
<br>
<br>
<%= link_to "Back to Your Bill Index", bills_url %>
<br>
<br>